<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>WebApp00</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 
	<servlet>
		<servlet-name></servlet-name>
		<servlet-class></servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name></servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	-->
	
	 <!-- loginController 초반 진입 경로 설정 -->
   <servlet>
      <servlet-name>loginController</servlet-name>
      <servlet-class>com.test.ctrl.loginController</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>loginController</servlet-name>
      <url-pattern>/syb</url-pattern>
   </servlet-mapping>
   
   <!-- boardController 진입 후 내부 컨트롤러 -->
   <servlet>
      <servlet-name>boardController</servlet-name>
      <servlet-class>com.test.ctrl.boardController</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>boardController</servlet-name>
      <url-pattern>/boardConn</url-pattern>
   </servlet-mapping>
   
   <!-- page 변환 후 내부 컨트롤러 -->
   <servlet>
      <servlet-name>pageController</servlet-name>
      <servlet-class>com.test.ctrl.pageController</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>pageController</servlet-name>
      <url-pattern>/board</url-pattern>
   </servlet-mapping>
	

	
</web-app>